<?xml version="1.0"?>
<launch>
	<include file="$(find mini_golf)/launch/callibration.launch"/>
	<include file="$(find mini_golf)/launch/open_computer_vision.launch"/>
	<node pkg="mini_golf" type="camera_cal2" name="camera_cal2"/>
	<include file="$(find mini_golf)/launch/moveit.launch">
		<arg name="if_sim" value="false"/>
	</include>
	<node pkg="mini_golf" name="game_planner" type="game_planner"/>
</launch>